.App {
  text-align: center;
  background-color: rgb(211, 194, 194);
  max-width: 300px;
  margin: auto;
}

.b2{
  border-radius: 4px;
  background-color: rgb(107, 143, 243);
  border: black solid;
  height: 20px;
  width: 50px;

}

.b3{
  border-radius: 4px;
  background-color: rgb(107, 143, 243);
  border: black solid;
  height: 20px;
  width: 80px;
  margin-bottom: 7px;
}


  